
*.gcg
spectrum_release_20110901/CII_Starter_pin_assignments.csv
spectrum_release_20110901/clocks.vhd
spectrum_release_20110901/debugger.vhd
spectrum_release_20110901/i2c_loader.vhd
spectrum_release_20110901/i2c_loader_tb.vhd
spectrum_release_20110901/i2s_intf.vhd
spectrum_release_20110901/i2s_intf_tb.vhd
spectrum_release_20110901/keyboard.vhd
spectrum_release_20110901/pll_main.ppf
spectrum_release_20110901/pll_main.qip
spectrum_release_20110901/pll_main.vhd
spectrum_release_20110901/ps2_intf.vhd
spectrum_release_20110901/ps2_intf_tb.vhd
spectrum_release_20110901/seg7.vhd
spectrum_release_20110901/spectrum.cdf
spectrum_release_20110901/spectrum.pin
spectrum_release_20110901/spectrum.qpf
spectrum_release_20110901/spectrum.qsf
spectrum_release_20110901/spectrum_de1.vhd
spectrum_release_20110901/spi.vhd
spectrum_release_20110901/T80/T80.vhd
spectrum_release_20110901/T80/T8080se.vhd
spectrum_release_20110901/T80/T80_ALU.vhd
spectrum_release_20110901/T80/T80_MCode.vhd
spectrum_release_20110901/T80/T80_Pack.vhd
spectrum_release_20110901/T80/T80_Reg.vhd
spectrum_release_20110901/T80/T80_RegX.vhd
spectrum_release_20110901/T80/T80a.vhd
spectrum_release_20110901/T80/T80se.vhd
spectrum_release_20110901/T80/T80sed.vhd
spectrum_release_20110901/ula_port.vhd
spectrum_release_20110901/video.vhd
spectrum_release_20110901/video_tb.vhd
spectrum_release_20110901/YM2149/vol_table.vhd
spectrum_release_20110901/YM2149/vol_table_001.txt
spectrum_release_20110901/YM2149/vol_table_array.vhd
spectrum_release_20110901/YM2149/YM2149_linmix.vhd
spectrum_release_20110901/YM2149/YM2149_tb.vhd
spectrum_release_20110901/YM2149/YM2149_volmix.vhd
spectrum_release_20110901/zxmmc.vhd
ULA.cache/wt/gui_handlers.wdf
ULA.cache/wt/java_command_handlers.wdf
ULA.cache/wt/project.wpc
ULA.cache/wt/synthesis.wdf
ULA.cache/wt/synthesis_details.wdf
ULA.cache/wt/webtalk_pa.xml
ULA.cache/wt/xsim.wdf
ULA.hw/ULA.lpr
ULA.ip_user_files/README.txt
ULA.runs/.jobs/vrs_config_1.xml
ULA.runs/.jobs/vrs_config_10.xml
ULA.runs/.jobs/vrs_config_11.xml
ULA.runs/.jobs/vrs_config_12.xml
ULA.runs/.jobs/vrs_config_13.xml
ULA.runs/.jobs/vrs_config_14.xml
ULA.runs/.jobs/vrs_config_15.xml
ULA.runs/.jobs/vrs_config_16.xml
ULA.runs/.jobs/vrs_config_17.xml
ULA.runs/.jobs/vrs_config_18.xml
ULA.runs/.jobs/vrs_config_19.xml
ULA.runs/.jobs/vrs_config_2.xml
ULA.runs/.jobs/vrs_config_20.xml
ULA.runs/.jobs/vrs_config_21.xml
ULA.runs/.jobs/vrs_config_22.xml
ULA.runs/.jobs/vrs_config_23.xml
ULA.runs/.jobs/vrs_config_24.xml
ULA.runs/.jobs/vrs_config_25.xml
ULA.runs/.jobs/vrs_config_26.xml
ULA.runs/.jobs/vrs_config_27.xml
ULA.runs/.jobs/vrs_config_28.xml
ULA.runs/.jobs/vrs_config_29.xml
ULA.runs/.jobs/vrs_config_3.xml
ULA.runs/.jobs/vrs_config_30.xml
ULA.runs/.jobs/vrs_config_31.xml
ULA.runs/.jobs/vrs_config_32.xml
ULA.runs/.jobs/vrs_config_33.xml
ULA.runs/.jobs/vrs_config_34.xml
ULA.runs/.jobs/vrs_config_35.xml
ULA.runs/.jobs/vrs_config_36.xml
ULA.runs/.jobs/vrs_config_37.xml
ULA.runs/.jobs/vrs_config_38.xml
ULA.runs/.jobs/vrs_config_4.xml
ULA.runs/.jobs/vrs_config_5.xml
ULA.runs/.jobs/vrs_config_6.xml
ULA.runs/.jobs/vrs_config_7.xml
ULA.runs/.jobs/vrs_config_8.xml
ULA.runs/.jobs/vrs_config_9.xml
ULA.runs/synth_1/.vivado.begin.rst
ULA.runs/synth_1/.vivado.end.rst
ULA.runs/synth_1/.Vivado_Synthesis.queue.rst
ULA.runs/synth_1/.Xil/d_ff_nor_propImpl.xdc
ULA.runs/synth_1/__synthesis_is_complete__
ULA.runs/synth_1/d_ff_nor.dcp
ULA.runs/synth_1/d_ff_nor.tcl
ULA.runs/synth_1/d_ff_nor.vds
ULA.runs/synth_1/d_ff_nor_utilization_synth.pb
ULA.runs/synth_1/d_ff_nor_utilization_synth.rpt
ULA.runs/synth_1/gen_run.xml
ULA.runs/synth_1/htr.txt
ULA.runs/synth_1/ISEWrap.js
ULA.runs/synth_1/ISEWrap.sh
ULA.runs/synth_1/project.wdf
ULA.runs/synth_1/rundef.js
ULA.runs/synth_1/runme.bat
ULA.runs/synth_1/runme.log
ULA.runs/synth_1/runme.sh
ULA.runs/synth_1/vivado.jou
ULA.runs/synth_1/vivado.pb
ULA.runs/synth_2/.vivado.begin.rst
ULA.runs/synth_2/.vivado.end.rst
ULA.runs/synth_2/.Vivado_Synthesis.queue.rst
ULA.runs/synth_2/__synthesis_is_complete__
ULA.runs/synth_2/gen_run.xml
ULA.runs/synth_2/htr.txt
ULA.runs/synth_2/ISEWrap.js
ULA.runs/synth_2/ISEWrap.sh
ULA.runs/synth_2/project.wdf
ULA.runs/synth_2/rundef.js
ULA.runs/synth_2/runme.bat
ULA.runs/synth_2/runme.log
ULA.runs/synth_2/runme.sh
ULA.runs/synth_2/Vert_Line_counter.dcp
ULA.runs/synth_2/Vert_Line_counter.tcl
ULA.runs/synth_2/Vert_Line_counter.vds
ULA.runs/synth_2/Vert_Line_counter_utilization_synth.pb
ULA.runs/synth_2/Vert_Line_counter_utilization_synth.rpt
ULA.runs/synth_2/vivado.jou
ULA.runs/synth_2/vivado.pb
ULA.sim/sim_1/behav/xsim/b3_tb.tcl
ULA.sim/sim_1/behav/xsim/b3_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/b3_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/bit3_counter_tb.tcl
ULA.sim/sim_1/behav/xsim/bit3_counter_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/bit3_counter_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/clk_div_2_tb.tcl
ULA.sim/sim_1/behav/xsim/clk_div_2_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/clk_div_2_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/compile.bat
ULA.sim/sim_1/behav/xsim/compile.log
ULA.sim/sim_1/behav/xsim/d_ff.tcl
ULA.sim/sim_1/behav/xsim/d_ff_behav.wdb
ULA.sim/sim_1/behav/xsim/d_ff_nor_tb.tcl
ULA.sim/sim_1/behav/xsim/d_ff_nor_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/d_ff_nor_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/D_FF_tb.tcl
ULA.sim/sim_1/behav/xsim/D_FF_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/D_FF_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/d_ff_vhdl.prj
ULA.sim/sim_1/behav/xsim/elaborate.bat
ULA.sim/sim_1/behav/xsim/elaborate.log
ULA.sim/sim_1/behav/xsim/master_horiz_counter.tcl
ULA.sim/sim_1/behav/xsim/master_horiz_counter_behav.wdb
ULA.sim/sim_1/behav/xsim/master_horiz_counter_tb.tcl
ULA.sim/sim_1/behav/xsim/master_horiz_counter_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/master_horiz_counter_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/master_horiz_counter_vhdl.prj
ULA.sim/sim_1/behav/xsim/simulate.bat
ULA.sim/sim_1/behav/xsim/simulate.log
ULA.sim/sim_1/behav/xsim/tce_ff_tb.tcl
ULA.sim/sim_1/behav/xsim/tce_ff_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/tce_ff_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/trc_ff_tb.tcl
ULA.sim/sim_1/behav/xsim/trc_ff_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/trc_ff_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/trce_ff_tb.tcl
ULA.sim/sim_1/behav/xsim/trce_ff_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/trce_ff_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/vert_line_counter_tb.tcl
ULA.sim/sim_1/behav/xsim/vert_line_counter_tb_behav.wdb
ULA.sim/sim_1/behav/xsim/vert_line_counter_tb_vhdl.prj
ULA.sim/sim_1/behav/xsim/webtalk.jou
ULA.sim/sim_1/behav/xsim/webtalk.log
ULA.sim/sim_1/behav/xsim/webtalk_12696.backup.jou
ULA.sim/sim_1/behav/xsim/webtalk_12696.backup.log
ULA.sim/sim_1/behav/xsim/webtalk_15692.backup.jou
ULA.sim/sim_1/behav/xsim/webtalk_15692.backup.log
ULA.sim/sim_1/behav/xsim/webtalk_3940.backup.jou
ULA.sim/sim_1/behav/xsim/webtalk_3940.backup.log
ULA.sim/sim_1/behav/xsim/webtalk_7420.backup.jou
ULA.sim/sim_1/behav/xsim/webtalk_7420.backup.log
ULA.sim/sim_1/behav/xsim/webtalk_8516.backup.jou
ULA.sim/sim_1/behav/xsim/webtalk_8516.backup.log
ULA.sim/sim_1/behav/xsim/xelab.pb
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/b3_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/bit3_counter_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/clk_div_2_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/d_ff_nor_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/D_FF_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/master_horiz_counter_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/tce_ff_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/trc_ff_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/trce_ff_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/obj/xsim_0.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/obj/xsim_1.win64.obj
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/webtalk/.xsim_webtallk.info
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/webtalk/usage_statistics_ext_xsim.html
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/webtalk/usage_statistics_ext_xsim.xml
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.dbg
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.mem
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.reloc
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.rlx
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.rtti
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.svtype
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.type
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsim.xdbg
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsimcrash.log
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsimk.exe
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsimkernel.log
ULA.sim/sim_1/behav/xsim/xsim.dir/vert_line_counter_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/b3_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/bit3_counter.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/bit3_counter_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/clk_div_2.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/clk_div_2_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/d_ff.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/d_ff_nor.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/d_ff_nor_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/d_ff_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/master_horiz_counter.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/master_horiz_counter_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tce_ff.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tce_ff_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/trc_ff.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/trc_ff_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/trce_ff.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/trce_ff_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/vert_line_counter.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/vert_line_counter_tb.vdb
ULA.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
ULA.sim/sim_1/behav/xsim/xsim.ini
ULA.sim/sim_1/behav/xsim/xvhdl.log
ULA.sim/sim_1/behav/xsim/xvhdl.pb
ULA.xpr
ULA.sim/sim_1/behav/xsim/webtalk_17316.backup.jou
*.log
*.xdbg
*.type
*.rtti
*.rlx
*.vdb
*.exe
*.dbg
*.mem
*.xml
*.wdm
*.html
*.info
*.svtype
*.reloc
*.obj
*.jou
*.prj
*.wdb
ULA.sim/sim_1/behav/xsim/xsim.dir/video_sync_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/video_sync_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/video_sync_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/video_sync_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/video_sync_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/horiz_timing_tb_behav/xsimSettings.ini
ULA.sim/sim_1/behav/xsim/xsim.dir/horiz_timing_tb_behav/webtalk/xsim_webtalk.tcl
ULA.sim/sim_1/behav/xsim/xsim.dir/horiz_timing_tb_behav/TempBreakPointFile.txt
ULA.sim/sim_1/behav/xsim/xsim.dir/horiz_timing_tb_behav/obj/xsim_1.c
ULA.sim/sim_1/behav/xsim/xsim.dir/horiz_timing_tb_behav/Compile_Options.txt
ULA.sim/sim_1/behav/xsim/video_sync_tb.tcl
ULA.sim/sim_1/behav/xsim/horiz_timing_tb.tcl
